
@{
    ViewData["Title"] = "Resultado";
}
<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Resultado</title>
</head>
<body>
    <h3>Resultado</h3>
    <h3>@ViewBag.Exemplo</h3>
</body>
</html>



